@model List<KangHui.Web.Models.JianBao>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>
    <script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.ie8polyfill.min.js"></script>
    <script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.widgets.helper.min.js"></script>

</head>
<body style="margin: 0; padding: 0">
    <div class="container" style="width: 100%">
        <div class="row">
            <div class="col-xs-5"></div>
            <div class="col-xs-5">简报</div>
            <div class="col-xs-2">
                <input type="button"  value="查询" class="am-btn am-btn-primary" data-am-modal="{target: '#my-alert'}" />
            </div>

            <div class="am-modal am-modal-alert" tabindex="-1" id="my-alert">
                <div class="am-modal-dialog">
                    <div class="am-modal-hd">查询条件</div>
                    <div class="am-modal-bd">
                        <input id="start-date" value="" type="text" class="am-form-field" placeholder="开始时间"  readonly />
                    </div>
                    <div class="am-modal-bd">
                        <input id="end-date" type="text" class="am-form-field" placeholder="结束时间" data-am-datepicker readonly required />
                    </div>
                    <div class="am-modal-footer">
                        <span class="am-modal-btn" onclick="refreshdata()">确定</span>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                $(function() {
                    $('#start-date').datepicker();
                });
                function refreshdata() {
                    $.ajax({
                        url: '/Default/JianBaoIndex?start=' + $("#start-date").val() + '&end='+$("#end-date").val(),
                        data: {},
                        cache: false,
                    }).done(function (result) {
                        $("#listContainer").html(result);
                        cleardate();
                    });
                }

                function cleardate() {
//                    $("#start-date").val();
//                    $("#end-date").val();
                }
            </script>
        </div>
    </div>
    <br />
    <form action="JianBaoIndex" data-ajax="true" data-ajax-mode="replace" data-ajax-success="" data-ajax-update="#listContainer" id="searchForm"></form>

    <div style="width: 100%" id="listContainer">
        @Html.Partial("JianBaoItems", (object)Model)
    </div>




   
</body>
</html>
