@using KangHui.Web.Models
@model IEnumerable<YueBao>
<table class="table table-bordered table-condensed">
    <tr><th>日期</th><th>销售量</th><th>销售额</th><th>同比</th><th>环比</th></tr>
    @{
        int index = 0;
        foreach (YueBao yueBao in (IEnumerable<YueBao>)Model)
        {
            index++;
            if (index % 2 == 0)
            {
                <tr class="success"><td>@yueBao.日期.ToString("yyyy-MM-dd") </td><td>@yueBao.销售量</td><td>@yueBao.销售额</td><td>@yueBao.同比</td><td>@yueBao.环比</td></tr>
            }
            else
            {
                <tr><td>@yueBao.日期.ToString("yyyy-MM-dd") </td><td>@yueBao.销售量</td><td>@yueBao.销售额</td><td>@yueBao.同比</td><td>@yueBao.环比</td></tr>
            }

        }
    }
    
</table>



